[submodule "vendor/plutovg"]
	path = vendor/plutovg
	url = https://github.com/sammycage/plutovg
[submodule "vendor/graphviz"]
	path = vendor/graphviz
	url = https://gitlab.com/graphviz/graphviz
[submodule "vendor/iroh-c-ffi"]
	path = vendor/iroh-c-ffi
	url = ../iroh-c-ffi/
	branch = mochar
