.zig-cache/
zig-out/
zig-pkg/

# Android
android/local.properties
android/build/
android/.gradle/
android/app/.cxx/
android/app/build/
# This has the SDL aar, a bit big
android/app/libs/
android/app/src/main/c/prebuilt/